/.DS_Store
/bibtex.bib
/figures
/ownership_slides.aux
/ownership_slides.bbl
/ownership_slides.blg
/ownership_slides.code-workspace
/ownership_slides.fdb_latexmk
/ownership_slides.fls
/ownership_slides.log
/ownership_slides.nav
/ownership_slides.out
/ownership_slides.pdf
/ownership_slides.snm
/ownership_slides.synctex.gz
/ownership_slides.toc
/table.lyx
/table.tex